@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Delicious+Handraisn & family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin:0px;
    padding: 0px;;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);

}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    

}

header > p {
    padding-bottom: 50px;

}

 header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover {

    text-decoration: underline;
}

section { 
   padding-top: 10vh;
   padding-bottom: 10vh;
   padding-left: 30px;
   line-height: 2em;
   font-family: var(--font3);
   font-size: 3.5vw;
   

}


section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {
    background-color: black;
    color: aliceblue;
    
}

section.imagem > p {
    background-color: rgba(74, 71, 71, 0.172);
    
    display: inline-block;
}
footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}